{% extends('base.html.twig') %}

{% block title %} Terminologio - Change my password {% endblock %}

{% block bodyContent %}
        <section id="creationForm" class="p-8 mt-8 flex flex-col justify-center size-full">
            <div class="align-middle rounded shadow-2xl size-full "
                 style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
                <div class="">
                    <h1 class="my-8 text-3xl font-bold text-center text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                        Change your password
                    </h1>
                </div>

                {{ form_start(form, {'attr': {'class':"my-20 font-bold flex flex-col items-center justify-center"}}) }}
                    <div class="text-2xl grid grid-cols-2 m-8 items-center justify-center w-2/5">
                        {{ form_label(form.newPassword) }}
                        {{ form_widget(form.newPassword,
                            {'attr' : {'class' : 'text-neutral-600 text-base font-normal text-lg flex ml-4 items-center justify-between
                                                    bg-zinc-100 rounded-lg w-full'}}) }}
                    </div>
                    <div class="text-2xl grid grid-cols-2 m-8 items-center justify-center w-2/5">
                        {{ form_label(form.confirmNewPassword) }}
                        {{ form_widget(form.confirmNewPassword,
                            {'attr' : {'class' : 'text-neutral-600 text-base font-normal text-lg flex ml-4 items-center justify-between
                                                        bg-zinc-100 rounded-lg w-full'}}) }}
                    </div>
                    <div class="text-2xl grid grid-cols-2 m-8 items-center justify-center w-2/5">
                        {{ form_label(form.oldPassword)}}
                        {{ form_widget(form.oldPassword,
                            {'attr' : {'class' : 'text-neutral-600 text-base font-normal text-lg flex ml-4 items-center justify-between
                                                    bg-zinc-100 rounded-lg w-full'}}) }}
                    </div>
                    <button type="submit" class="border border-indigo-900 rounded-lg  text-center
                                    text-indigo-900 hover:text-white hover:bg-indigo-900 bg-white text-base font-semibold py-3 px-16 mt-9">Change</button>
                {{ form_end(form) }}

            </div>
        </section>
{% endblock %}