{% extends 'base.html.twig' %}

{% block title %}Terminologio - {{ concept.title }}{% endblock %}

{% block body %}
    {% block navigation %}{{ parent() }}{% endblock %}
    <div class="flex flex-col h-screen">
        <div class="m-8">
            <h1 class="text-2xl font-bold text-center text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                {{ concept.title }}
            </h1>
        </div>
        <div class="flex flex-grow justify-center items-center" {{ stimulus_controller('component', {
            url: path('app_concept_show', {
                title:concept.title
            })
        })
        }}>
                <div class="flex flex-row w-4/5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 align-middle">
                    <div class="flex flex-col size-2/5">
                        <div class="relative size-full">
                            <img src="{{ image_directory~asset(concept.image) }}" alt="concept-image" class="w-full aspect-auto"/>
                            <div>
                                {{ include('concept/components/components_number_block.html.twig') }}
                            </div>
                        </div>
                        <div class="flex flex-col items-center p-4">
                            <label>
                                Choose the language :
                                <select id="languageChooser" {{ stimulus_action('component', 'getShowingNames', 'change') }}>
                                    {% for componentName in concept.components[0].componentNames %}
                                        <option value="{{ componentName.language.id }}">{{ componentName.language.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="mr-8 mb-8 ml-8">
                        <h2>Components : </h2>
                        <div {{ stimulus_target('component', 'componentsNames') }}>
                            {{ include('concept/show/components_show.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
