{% extends 'concept/concept_base.html.twig' %}

{% block title %}Terminologio - Create a new translation !{% endblock %}

{% block bodyContent %}
    <div class="flex flex-col h-screen">
        <div class="m-8">
            <h1 class="text-2xl font-bold text-center text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                Edit your translations
            </h1>
            <label>
                Choose the language :
                <select id="languageChooser" {{ stimulus_action('component', 'getTranslation', 'change') }}>
                    {% for language in languages%}
                        <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="flex flex-grow justify-center items-center">
            <form id="translationForm" class="flex flex-row w-4/5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 align-middle"
                  method="post"
                  action="{{ path('app_concept_translation_save', {title:concept.title, id:concept.defaultLanguage.id}) }}">
                <div class="flex flex-col size-2/5">
                    <div class="relative size-full">
                        {% include('concept/show_concept_with_component_block.html.twig') %}
                    </div>
                    <div class="flex flex-col items-center p-4">
                        <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                            Validate
                        </button>
                    </div>
                </div>
                <div class="mr-8 mb-8 ml-8">
                    <h2>Components : </h2>
                    <div {{ stimulus_target('component', 'componentsNames') }}>
                        {{ include('concept/translation/components_translate_block.html.twig') }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
