{% extends 'base.html.twig' %}

{% block title %}Manage your website{% endblock %}

{% block body %}
    {% block navigation %}{{ parent() }}{% endblock %}
    <div class="bg-blue-900 shadow-md rounded max-w-xl container mx-auto w-full">
        <h1 class="text-center text-neutral-600 text-base font-semibold">Add a new user</h1>
        <div class="w-full max-w-xs flow flow-col">
            <div class="mb-4 mt-10">
                {{ form_start(registrationForm, {'attr': {'class':"px-8 pt-6 pb-8 mb-4"}}) }}
                <div>
                    {{ form_row(registrationForm.email,
                        {'attr' : {'class' : 'text-neutral-600 text-base font-normal flex my-3 items-center justify-between
                                    bg-zinc-100 rounded-lg'}}) }}
                    {{ form_row(registrationForm.username,
                        {'attr' : {'class' : 'text-neutral-600 text-base font-normal flex my-3 items-center justify-between
                                    bg-zinc-100 rounded-lg'}}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }, {'attr' : {'class' : 'text-neutral-600 text-base font-normal flex my-3 items-center justify-between
                                    bg-zinc-100 rounded-lg'
                                 }
                        }
                    ) }}
                    {{ form_row(registrationForm.agreeTerms,
                        {'attr' : {'class' : 'text-neutral-600 text-base font-normal flex my-3 items-center justify-between
                                    bg-zinc-100 rounded-lg'}}) }}

                    <button type="submit" class="border border-indigo-900 rounded-lg  text-center flow flow-col
                        text-indigo-900 hover:text-white hover:bg-indigo-900 bg-white text-base font-semibold w-full py-3 mt-9">
                        Register
                    </button>
                </div>
                {{ form_end(registrationForm) }}

            </div>
            <p class="text-center text-gray-500 text-xs">
                &copy;2023 Terminologio Team.<br>
                All rights reserved.
            </p>
        </div>
    </div>
{% endblock %}