{% extends 'base.html.twig' %}

{% block title %}Edit components' concept !{% endblock %}

{% block body %}
    {% block navigation %}{{ parent() }}{% endblock %}
    <div class="flex flex-col h-screen">
        <div class="m-8">
            <h1 class="text-2xl font-bold text-center text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Edit your concept</h1>
        </div>
        <div class="flex flex-grow justify-center items-center">
            <div class="flex flex-row w-3/4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 align-middle">
                <button class="relative size-3/5"{{ stimulus_controller('component', {
                    url: path('app_concept_component_edit', {
                        title:concept.title
                    })
                })
                }}{{ stimulus_action('component', 'addComponent', 'click') }}>
                    <img src="{{ asset(imagePath) }}" alt="concept-image" class="w-full aspect-square"/>
                    <div {{ stimulus_target('component', 'components') }}>
                        {{ include('concept/components.html.twig') }}
                    </div>
                </button>
                <div class="mr-8 mb-8 ml-8">
                    <h2>Components : </h2>
                    <div class="">
                        {% for component in components %}
                            <div>
                                <label>
                                    Component {{ component.number }} :
                                    <input type="text">
                                </label>
                                <button>Delete</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
