{% extends 'base.html.twig' %}

{% block title %}Terminologio - Add components' concept !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style rel="stylesheet" {{ stimulus_target('component', 'style') }}>
    {{ include('concept/components/hover_component.html.twig') }}
    </style>
{% endblock %}

{% block html %}
    <html lang="en" {{ stimulus_controller('component', {
        url: path('app_concept_component_edit', {
            title:concept.title
        })
    })
    }}>
        {% block head %} {{ parent() }} {% endblock %}
        {% block body %}
            {% block navigation %}{{ parent() }}{% endblock %}
            <div class="flex flex-col h-screen">
                <div class="m-8">
                    <h1 class="text-2xl font-bold text-center text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Add your components</h1>
                </div>
                <div class="flex flex-grow justify-center items-center">
                        <form class="flex flex-row w-4/5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 align-middle" method="post" action="{{ path('app_concept_validate', {title:concept.title}) }}">
                            <div class="flex flex-col size-2/5">
                                <button type="button" class="relative size-full"{{ stimulus_action('component', 'addComponent', 'click') }}>
                                    <img src="{{ image_directory~asset(concept.image) }}" alt="concept-image" class="w-full aspect-square"/>
                                    <div {{ stimulus_target('component', 'components') }}>
                                        {{ include('concept/components/components_number_block.html.twig') }}
                                    </div>
                                </button>
                                <div class="flex flex-col items-center p-4">
                                    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                                        Validate
                                    </button>
                                </div>
                            </div>
                            <div class="mr-8 mb-8 ml-8">
                                <h2>Components : </h2>
                                <div {{ stimulus_target('component', 'componentsNames') }}>
                                    {{ include('concept/components/components_add_block.html.twig') }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

        {% endblock %}
    </html>
{% endblock %}