{% extends 'base.html.twig' %}

{% block title %}Terminologio - List of concepts{% endblock %}

{% block bodyContent %}
    <div class="flex flex-col flex-grow justify-center items-center">
        <form action="{{ path('app_concept_list') }}" method="get">
            <label>
                Language :
                <select name="language">
                    <option value="-1">All</option>
                    {% for language in languages %}
                        <option value="{{ language.id }}">{{ language.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                Category :
                <select name="category">
                    <option value="-1">All</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="Submit">
        </form>
        {% include('concept/list/list_concepts_block.html.twig') %}
    </div>
{% endblock %}