{% for concept in concepts %}
    <section id="creationForm" class="p-4 flex flex-col w-full justify-center items-center min-h-80">
        <div class="grid grid-cols-2 rounded shadow-2xl p-4 w-3/5 h-full overflow-hidden"
             style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
            <div class="flex flex-row h-full max-h-64 max-w-2/5 ">
                <img src="{{ image_directory~asset(concept.image) }}" alt="concept-image" class="p-1 rounded object-contain h-64 min-w-0"/>
                <div class="flex flex-col align-items justify-center pl-4 max-w-full">
                    <h2 class="text-4xl font-bold pb-4 max-w-fit">Title : {{ concept.title }}</h2>
                    <p>Draft</p>
                </div>
            </div>
            <div class="w-full flex flex-row">
                <div class="flex flex-col flex-grow">
                    <div class="flex-grow">
                        <div class="flex flex-row">
                            <p class="pb-4 font-bold">Default language : </p>
                            <p>&nbsp;{{ concept.defaultLanguage.name }}</p>
                        </div>
                    </div>
                    <div class="flex flex-row">
                        <p class="font-bold">Category :</p>
                        <p>&nbsp;{{ concept.category.name }} </p>
                    </div>
                </div>
                <div class="flex flex-col w-2/5 items-center justify-center">
                    <a class="border border-indigo-900 rounded-lg  text-center flow flow-col
                                    text-indigo-900 hover:text-white hover:bg-indigo-900 bg-white text-base font-semibold
                                    w-full py-3" href="{{ path('app_concept_component', {'title': concept.title}) }}">
                        Edit
                    </a>

                    <a class="bg-red-500 hover:bg-red-700 text-white py-4 px-10 font-bold rounded-lg mt-9 w-full text-center"
                       href="{{ path('app_concept_drafts_delete', {'id': concept.id}) }}">
                        Delete
                    </a>
                </div>
            </div>
            </div>
    </section>
{% endfor %}